header{
    width:100%;
    max-height: 50px;
    min-width: 545px;
    color:white;
    font-size: 40px;
    /*background-image: url(../img/header1.jpg);
    background-position: center;*/
    /*background-color: green;*/
    background-color: #1E9F62;
     -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0px 10px 6px -6px #777;
        box-shadow: 0px 10px 6px -6px #777;
    
}

body{
    min-width: 545px;
    height: 100%;
    width: 100%;
    margin: 0px;
    /*border: 3px groove black;*/
    /*background:center;
    background-size:cover;*/
    background-color: #F2F3F2;
    /*background-image: url(../img/wallpapers_xp.jpg);*/
    /*background-attachment: fixed;*/
   /* background-image: url(../img/b2.jpg);
    background-attachment: fixed;
    background-position: center;*/
}

.divs{min-width: 545px;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    /*border: 3px groove black;*/
}

.control_panel{
    min-width: 545px;
    margin-left: 15%;
    margin-right:15%;
    /*background-color: white;*/
    text-align: center;
}

.control_buttons{position: relative;
    /*margin-left: 5%;*/
    width: 100px;
    height: 50px;
}

.img{
    float: left;
    display:table-row;
    margin:2px 2px 2px 2px;
    /*float: left;*/
   /* position: relative;*/
    /*margin: 0 4px ;*/
    /*position: absolute;*/
    /*/*width: 30%;
    height: auto;
    overflow: hidden;
    text-align: left;*/
    /*border: 3px groove black;*/
    width: 30%;
    display: table-cell;
    height: auto;
    max-width: 200px;
    /*max-height: 200px;*/
    /*display: inline-block;*/
}

img{
    /*margin:2px 2px 2px 2px;*/
    /*height: auto;*/
    width: 100%;
    /*border: 3px groove black;*/
    border-radius:12px;
    /*max-width: 200px;*/
    /*max-height: 200px;*/
}

.object_name{
    text-align: left;
    /*margin-left: 30%;*/
    /*float: right;*/
    /*text-align: left;*/
    /*border: 3px groove black;*/
    border-radius:12px;
    font-size: 20px;
    font-weight: bold;
    /*margin-left: 32%;*/
}

.adress{
    color: black;
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

.contacts{
    color: black;
    text-align: left;
    font-size: 14px;
    font-style: 
}

.information{
    color: black;
    text-align: left;
    /*float: right;*/
    /*display:table-row;*/
    /*margin-left: 32%;*/
    /*float: right;*/
    /*text-align: right;*/
    /*text-align: center;*/
    height: auto;
    /*width: 99%;*/
    /*border: 3px groove black;*/
}

.bold{
    font-weight:bold;
}

.clear_coment{
    /*display: none;*/
    opacity:0.3;
    float: right;
    width: 5%;
    max-width: 30px;
}

.object1{/*position: relative;*/
    /*text-align: center;*/
    display: table;
    height:auto;
    text-align: center;
    /*margin-top: 1%;*/
    margin-bottom: 1%;
    /*border: 3px;
    border-color:black;
    border-style: solid;
    border-radius: 5px;*/
    background-color: white;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0px 10px 6px -6px #777;
        box-shadow: 10px 10px 6px -6px #777;
    
}

.object1:hover{
    color: blue;
}

.clear_coment:hover{
    opacity:1;
}

.menu{float: right;
    position: fixed;
    width: auto;
    bottom: 5px;
    left: 8px;
    
}

.menu_open{
    width: 30%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.menu_list{
    position: relative;
    display: none;
}

footer{
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    background-color: grey;
    text-align: center;
    color: white;
    font-size: 30px;*/
}

/*@media screen and (min-width: 960px){
    .object1{
        height: 400px;
    }
}*/