header{
    width:100%;
    max-height: 50px;
    min-width: 545px;
    color:white;
    font-size: 20px;
    /*background-image: url(../img/header1.jpg);
    background-position: center;*/
    /*background-color: green;*/
    background-color: #1E9F62;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0px 10px 6px -6px #777;
        box-shadow: 0px 10px 6px -6px #777;*/
    
}

body{
    min-width: 545px;
    height: 100%;
    width: 100%;
    margin: 0px;
    /*border: 3px groove black;*/
    /*background:center;
    background-size:cover;*/
    background-color: #F2F3F2;
    /*background-image: url(../img/wallpapers_xp.jpg);*/
    /*background-attachment: fixed;*/
   /* background-image: url(../img/b2.jpg);
    background-attachment: fixed;
    background-position: center;*/
}

.history_deleted{
    color: red;
    min-width: 545px;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    /*visibility: hidden;*/
    display: none;
}

.history_added{
    color: green;
    min-width: 545px;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    /*visibility: hidden;*/
    display: none;
}

.added_object{
    display: table;
    height:auto;
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    background-color: white;
   /* -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;*/
}

.deleted_objects{
    min-width: 545px;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
}

.divs{text-align: center;
    min-width: 545px;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    border: 2px white;
    border-radius:12px;
}

.control_panel{
    border-bottom: 1px solid black; 
    min-width: 545px;
   /* margin-left: 15%;
    margin-right:15%;*/
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
}

/*.control_buttons{
    position: relative;
    margin-left: 5%;
    width: 100px;
    height: 50px;
}*/

.img{
    display: table-column;
    float: left;
    display:table-row;
    margin:1px 1px 1px 1px;
    /*float: left;*/
   /* position: relative;*/
    /*margin: 0 4px ;*/
    /*position: absolute;*/
    /*/*width: 30%;
    height: auto;
    overflow: hidden;
    text-align: left;*/
    width:auto;
    display: table-cell;
    height: auto;
    max-width: 100%;
    border-radius: 12px;
    /*border: 3px groove black;*/
    /*max-height: 200px;*/
    /*display: inline-block;*/
}

img{
    /*margin:2px 2px 2px 2px;*/
    /*height: auto;*/
    /*width: 100%;*/
    /*border: 3px groove black;*/
    /*border-radius:12px;*/
    /*max-width: 200px;*/
    /*max-height: 200px;*/
}

.object_name{
    /*display: table-column; */
    text-align: left;
    /*margin-left: 30%;*/
    /*float: right;*/
    /*text-align: left;*/
    /*border: 3px groove black;*/
    border-radius:12px;
    font-size: 20px;
    font-weight: bold;
    /*margin-left: 32%;*/
}

.adress{
    color: black;
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

.contacts{
    color: black;
    text-align: left;
    font-size: 14px;
    font-style: 
}

.information{
    color: black;
    text-align: left;
    /*float: right;*/
    /*display:table-row;*/
    /*margin-left: 32%;*/
    /*float: right;*/
    /*text-align: right;*/
    /*text-align: center;*/
    height: auto;
    /*width: 99%;*/
    /*border: 3px groove black;*/
}

.bold{
    font-weight:bold;
}

.clear_coment{
    display: none;
    opacity:0.3;
    float: right;
    width: 5%;
    max-width: 30px;
}

.object1{
    /*position: relative;*/
    /*text-align: center;*/
    display: table;
    height:auto;
    text-align: center;
    width: 100%;
    /*margin-top: 1%;*/
    /*margin-bottom: 1%;*/
    border-top: 3px;
    border-radius: 5px;
    border-color:black;
    /*border-style: solid;*/
    background-color: white;
    
       /* -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0px 10px 6px -6px #777;
        box-shadow: 10px 10px 6px -6px #777;
    */
}

.new_object{
    text-align: center;
    min-width: 545px;
    /*margin-top: 15px;*/
    margin-left: 15%;
    /*margin-right: 15%;*/
    width: 70%;
    display: none;
    height:auto;
    text-align: center;
   /* border: 3px;
    border-color:green;
    border-style: solid;
    border-radius: 5px;*/
    /*width: 100%;*/
    /*margin-bottom: 1%;*/
    background-color: white;
   /* -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;*/
}

.object1:hover{
    color: blue;
}

.clear_coment:hover{
    opacity:1;
}

.menu{
    float: right;
    position: fixed;
    width: auto;
    bottom: 5px;
    left: 8px;
    
}

.menu_open{
    width: 30%;
    height: auto;
    max-width: 200px;
    max-height: 200px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.menu_open:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.3);
}

.menu_list{
    display: none;
    position: relative;
    display: none;
}

footer{
    /*left: 0;
    bottom: 0;*/
    width: 100%;
    background-color: grey;
    text-align: center;
    color: white;
    font-size: 30px;*/
}

/*@media screen and (min-width: 960px){
    .object1{
        height: 400px;
    }
}*/

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5%; /* Отступ слева */
   /* border: 1px solid #000;  Рамка вокруг текста 
    padding: 3px;  Поля вокруг текста */}
ul.hr li:hover{
 background-color: green;
}

.logo img{
    float: left;
    max-height: 50px;
    
    /*height: 100px;*/
    border-radius: 12px;
    /*width: 30%;*/
}